@page
@model FrontEnd.Pages.ManageAccountModel
@using Pages.Entities
@using Data.Models.Entities
@{
    ViewData["Title"] = "ManageAccount";


}

@section header{

    <partial name="_HeaderItems" />
}

<div class="text-center">
    <h1 class="display-4">Manage Account</h1>
</div>


<div>
    <form method="post" asp-page-handler="Delete">
        <button type="submit" class="login-button">Delete account</button>
    </form>
</div>


@{
    var email = Request.Cookies["EmailCookie"];
    var firstName = Request.Cookies["FirstNameCookie"];
    var lastName = Request.Cookies["LastNameCookie"];
    var dateOfBirth = Request.Cookies["DateOfBirthCookie"];
    var phone = Request.Cookies["PhoneCookie"];



}



<div class="text-center">
    <form method="post" asp-page-handler="Update">
        <label>First Name: </label>
        <p>
            <span class="input">
                <input type="text" placeholder="First name" name="firstName" value="@firstName" required pattern="[a-zA-Z]+" oninvalid="setCustomValidity('First name must contain letters only')" oninput="setCustomValidity('')">

                <span></span>
            </span>
        </p>
        <div>
            <label>Last Name: </label>
            <p>
                <span class="input">
                    <input type="text" placeholder="Last name" name="lastName" value="@lastName" required pattern="[a-zA-Z]+" oninvalid="setCustomValidity('First name must contain letters only')" oninput="setCustomValidity('')">
                    <span></span>
                </span>
            </p>

        </div>




        <div>
            <label>New Password</label>
            <p>
                <span class="input">
                    <input type="password" id="password" placeholder="Password" name="password" required pattern="[a-zA-Z0-9]+" oninvalid="setCustomValidity('Password must contain letters and/or numbers only')" oninput="setCustomValidity('')">
                    <span></span>
                </span>
            </p>

        </div>
        <div>
            <label>Repeat Password:</label>
            <p>
                <span class="input">
                    <input type="password" id="repeatPassword" placeholder="Repeat password" name="repeatedPassword" required>
                    <span></span>
                </span>
            </p>

        </div>

        <div>
            <label>E-mail:</label>
            <p>
                <span class="input">
                    <input type="text" placeholder="Your e-mail" name="email" value="@email" disabled>
                    <span></span>
                </span>
            </p>
        </div>

        <label>Phone Number</label>
        <p>
            <span class="input">
                <input type="number" placeholder="Phone number" name="phoneNumber" value="@phone" required oninvalid="setCustomValidity('Type in Your phone number')" oninput="setCustomValidity('')">
                <span></span>
            </span>
        </p>


        <div>
            <label>Date of Birth:</label>
            <p>
                <span class="input">
                    <input type="text" name="dateOfBirth" disabled value="@dateOfBirth">
                    <span></span>
                </span>
            </p>

        </div>

        <button type="submit" class="login-button">Update account</button>

    </form>





</div>
<div >
    <br />
    <form method="post" class="text-center">
        <button  asp-page-handler="Reviews" class="login-button">Get Reviews</button>
    </form>
    <div style="float: left;">
        <label>Reviews Received</label>
        <table  id="table-trips">
            <tr>
                <th>Reviewer</th>
                <th>Content</th>

            </tr>

            @if (Model.ReviewsReceived.Count > 0)

                @foreach (Review r in Model.ReviewsReceived)
                {
                    <tr>
                        <td>@r.ReviewerEmail</td>
                        <td>@r.Content</td>


                    </tr>
                }
        </table>
    </div>
    <div style="float: right;">
        <label>Reviews Given</label>
        <table   id="table-trips">
            <tr>
                <th>Reviewer</th>
                <th>Content</th>

            </tr>

            @if (Model.ReviewsGiven.Count > 0)

                @foreach (Review r in Model.ReviewsGiven)
                {
                    <tr>
                        <td>@r.RevieweeEmail</td>
                        <td>@r.Content</td>


                    </tr>
                }
        </table>
    </div>
</div>



<script>

    var password = document.getElementById("password")
        , repeatPassword = document.getElementById("repeatPassword");

    function validatePassword() {
        if (password.value != repeatPassword.value) {
            repeatPassword.setCustomValidity("Passwords don't match");
        } else {
            repeatPassword.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    repeatPassword.onkeyup = validatePassword;


</script>



