@page "{handler?}"
@model FrontEnd.Pages.Account.ManageAccountModel
@using Data.Models.Entities
@{
    ViewData["Title"] = "ManageAccount";

    var email = Request.Cookies["EmailCookie"];
    var firstName = Request.Cookies["FirstNameCookie"];
    var lastName = Request.Cookies["LastNameCookie"];
    var dateOfBirth = Request.Cookies["DateOfBirthCookie"];
    var phone = Request.Cookies["PhoneCookie"];
    
}

@section header{
    <partial name="_HeaderItems" />
}

<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Manage Account</h1>
    </div>

    <div class="row">
        <div class="col">
            @if (@Model.ErrorMessage != "")
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }
            @if (@Model.SuccessMessage != "")
            {
                <div class="alert alert-success" role="alert">
                    @Model.SuccessMessage
                </div>
            }
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">
        Update account
    </button>

    <a asp-page-handler="Delete" class="btn btn-danger">Delete account</a>
    <div class="row">
        <div class="col">
            @HtmlHelperPartialExtensions.Partial(Html, "UpdateAccountModal", @Model.Account)
        </div>
    </div>


    <div class="col-xs-6">
        <h2 class="sub-header">Reviews Received</h2>
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                <tr>

                    <th class="col-xs-3">Reviewer</th>
                    <th class="col-xs-3">Content</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.ReviewsReceived.Count > 0)
                @foreach (Review r in Model.ReviewsReceived)
                {
                    <tr>
                        <td class="col-xs-3">@r.ReviewerEmail</td>
                        <td class="col-xs-3">@r.Content</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-xs-6">
        <h2 class="sub-header">Reviews Given</h2>
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                <tr>

                    <th class="col-xs-3">Reviewee</th>
                    <th class="col-xs-3">Content</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.ReviewsGiven.Count > 0)
                @foreach (Review r in Model.ReviewsGiven)
                {
                    <tr>

                        <td class="col-xs-3">@r.RevieweeEmail</td>
                        <td class="col-xs-3">@r.Content</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>



    <script>
        var password = document.getElementById("password")
            , repeatPassword = document.getElementById("repeatPassword")

        function validatePassword() {
            if (password.value != repeatPassword.value) {
                repeatPassword.setCustomValidity("Passwords don't match")
            } else {
                repeatPassword.setCustomValidity('')
            }
        }

        password.onchange = validatePassword
        repeatPassword.onkeyup = validatePassword
    </script>
